* {
    transition: .3s;
}

.homelist h2 {
    font-size: 18px;
    font-weight: bold;
}

.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(96 125 139 / 12%);
}

.card .new,
.card .vier,
.card .username {
    position: absolute;
    margin: 0.25rem;
    padding: 0.15rem 0.5rem;
    font-size: 8px;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: bold;
    opacity: .7;
}

.card .username {
    left: 0;
    bottom: 0;
    text-shadow: 0px 0px 5px #000;
}

.card .new {
    right: 0;
    top: 0;
    background-color: #b68500;
}

.card .vier {
    left: 0;
    top: 0;
    background-color: #0073b6;
}

.videoku-wrap {
    padding-bottom: calc(100% / 3 * 2);
    background: #000;
    border-radius: .5rem;
    overflow: hidden;
}

#videoku {
    width: 100%;
    height: 100%;
}