@import url('https://fonts.googleapis.com/css2?family=Flow+Rounded&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-dark: #1c232a;
}

* {
    transition: .3s;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0e1212;
}

.jonaa .nav {
    padding: 1rem 0.5rem;
}

.jonaa .nav a {
    padding: .25rem 1rem;
    font-size: 12px;
    color: cyan;
}

.jonaa .nav a.active {
    background-color: cyan;
    color: var(--bg-dark);
}

.jonaa nav.navbar {
    background-color: var(--bg-dark);
    color: #fff;
}

.jonaa nav.navbar .navbar-brand,
.jonaa nav.navbar .navbar-toggler {
    color: currentColor;
    border: none;
}

.preload {
    font-family: 'Flow Rounded', cursive;
    font-size: 20px;
    color: #bdbdbd;
}

.homelist h2 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 1px 5px cyan;
}

.homelist .card {
    border: none;
}

.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(27 34 38 / 78%);
}

.card .new {
    right: 0;
    top: 0;
    text-shadow: 0 0 5px yellow;
}
.card .new, .card .vier, .card .username {
    position: absolute;
    margin: 0.25rem;
    padding: 0.15rem 0.5rem;
    font-size: 8px;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: bold;
}

.card .username {
    left: 0;
    bottom: 0;
    text-shadow: 0px 0px 5px cyan;
}

.card .vier {
    left: 0;
    top: 0;
    text-shadow: 0 0 5px #ff93b8;
}

.videoku-wrap {
    padding-bottom: calc(100% / 3 * 2);
    background: #000;
    border-radius: .5rem;
    overflow: hidden;
}

#videoku {
    width: 100%;
    height: 100%;
}

.navbar-brand .count {
    font-size: 12px;
    margin: 0.5rem;
    font-weight: bold;
    text-shadow: 1px 2px 6px lightgreen;
}

.chat {
    height: 300px;
    overflow-y: scroll;
    margin: 0.75rem 0;
    border-radius: 0.25rem;
    background-color: #000;
}

.chat .message {
    font-size: 12px;
    margin: 1rem;
    padding: .5rem .7rem;
    background-color: #607D8B;
    color: #fff;
    font-weight: bold;
    border-radius: .5rem;
}

.chat .message .level {
    display: block;
}

.chat .message .username {
    color: yellow;
    margin-right: .5rem;
}

.chat .message .level {
    font-size: 10px;
    font-family: monospace;
    margin: .5rem 0 0;
    color: gold;
}