@import url('https://fonts.googleapis.com/css2?family=Flow+Rounded&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    transition: .3s;
    font-family: 'Poppins', sans-serif;
}

.preload {
    font-family: 'Flow Rounded', cursive;
    font-size: 20px;
    color: #bdbdbd;
}

.homelist h2 {
    font-size: 18px;
    font-weight: bold;
}

.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(96 125 139 / 12%);
}

.card .new,
.card .vier,
.card .username {
    position: absolute;
    margin: 0.25rem;
    padding: 0.15rem 0.5rem;
    font-size: 8px;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: bold;
    opacity: .7;
}

.card .username {
    left: 0;
    bottom: 0;
    text-shadow: 0px 0px 5px #000;
    opacity: 1 !important;
}

.card .new {
    right: 0;
    top: 0;
    background-color: #b68500;
}

.card .vier {
    left: 0;
    top: 0;
    background-color: #0073b6;
}

.videoku-wrap {
    padding-bottom: calc(100% / 3 * 2);
    background: #000;
    border-radius: .5rem;
    overflow: hidden;
}

#videoku {
    width: 100%;
    height: 100%;
}